<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-note">Create new note</a>
<h1>Note</h1>
<form>
    Search by first name:
    <input name="s" type="text"/>
    <input type="submit" value="Search"/>
</form><br/><br>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Count</th>
        <th>Title</th>
        <th>Type</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="note : ${n}">
        <tr>
            <td th:text="${note.id}"></td>
            <td th:text="${note.title}"></td>
            <td th:text="${note.content}"></td>
            <td th:text="${note.type.name}"></td>
            <td><a th:href="@{/edit-note/__${note.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-note/__${note.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/note'(page=${n.number - 1})}" th:if="${n.hasPrevious()}">Previous</a>
    <span th:text="${n.number + 1}"></span>/<span th:text="${n.totalPages}"></span>
    <a th:href="@{'/note'(page=${n.number + 1})}" th:if="${n.hasNext()}">Next</a>
</div>
</body>
</html>